[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
chat50 = {editable = true, path = "."}
pylint = "*"
autopep8 = "*"
rope = "*"
pytest = "*"
coverage = "*"

[packages]
flask-socketio = "*"
eventlet = "*"
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
python-jose = "*"
python-dateutil = "*"
gunicorn = "*"
psycopg2-binary = "*"
redis = "*"
kombu = "*"

