[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask-socketio = "*"
eventlet = "*"
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
python-jose = "*"

[requires]
python_version = "3.7"
